@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

nav {
  width: 20%;
  min-width: 18rem;
  height: calc(100vh - v.$header-height);
  background: v.$white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  padding: 1.5rem 0rem;
  overflow-y: auto;
  position: absolute;
  left: 0;
  z-index: 20;
  @include m.transition(margin-left, 0.3s);

  @media screen and (min-width: 1024px) {
    position: relative;
    margin-left: 0;
  }

  .sidenav-content {
    width: 100%;

    .sidenav-link {
      color: v.$primary-color;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0.75rem 1.875rem;
      line-height: 19px;
      opacity: 0.6;
      text-decoration: none;

      span {
        font-size: v.$font-base;
        font-weight: 400;
        margin-left: 0.625rem;
      }

      &.active {
        opacity: 1;
        background: rgba(57, 205, 204, 0.06);
        border-left: 3px solid v.$secondary-color;
      }

      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }

  .sidenav-items {
    h2 {
      color: v.$text-color;
      font-size: v.$font-xs;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 14px;
      margin: 1.5rem 0 0.625rem 0;
      padding: 0 1.875rem;
    }

    ul {
      margin-bottom: 2rem;
      width: 100%;

      li {
        margin: 0.625rem 0;
      }
    }
  }
}

nav.show {
  margin-left: 0;
}

nav.hide {
  margin-left: -100%;

  @media screen and (min-width: 1024px) {
    margin-left: 0;
  }
}
