@use "../../../styles/variables" as v;

.card {
  background: v.$white;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 1.875rem;
}
